[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
requests = "*"
flask = "*"
python-dotenv = "*"
dropbox = "*"
gunicorn = "*"
playwright = "*"

[dev-packages]

[requires]
python_version = "3.10"
